/*#navigation, #footer,*/
/*#socialMedia, #announcements, #happyHour, #viewLadder,*/
/*#footerContactInfo, #footerNavigation, #footerSignUp{*/
    /*border: 1px solid red;*/
/*}*/
body div{
    border: 1px solid red;
}

/*All rules common to entire site*/
#logo {
    float: left;
}

header {
    float: left;
    width: 90%;
    height: 115px;
    background-color: rgba(246, 108, 16, 0.72);
    margin: 2%;
    border: solid;
    border-radius: 20px 0px 20px 0px;
}

#sitebranding {
    float: left;
    width: 100%;
}

#navigation{
    position: fixed;
    top: 157px;
    right: 0px;
    width: 14%;
    padding: 4px;
    margin: 1%
}

#socialMedia{
    position: fixed;
    top: 273px;
    right: 0px;
    width: 14%;
    padding: 4px;
    margin: 1%
}

#footer {
    float: left;
    width: 90%;
    height: 115px;
    margin: 2%;
}

#footerNavigation {
    float: left;
    width: 29%;
    height: 115px;
    margin-left: 2%;
    margin-right: 2%;
}

#footerSignUp {
    float: left;
    width: 29%;
    margin-right: 2%;
    margin-left: 2%;
}

#footerContactInfo {
    float: left;
    width: 29%;
    margin-left: 2%;
}

#navigation li, #navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footerNavigation ul {
    list-style-type: none;
}

#logo {
    position: relative;
    top: -6px;
}

#footer {
    background-color: rgba(246, 108, 16, 0.72);
    border: solid;
    border-radius: 20px 0px 20px 0px;

}

html {
    min-height: 100%
}
body {
    background: linear-gradient(rgba(255, 181, 3, 0.72), rgba(246, 108, 16, 0.72));
    color: #11546c;
}

/*All homepage rules*/
#announcements {
    float: left;
    width: 82%;
    margin: 2%
}

#happyHour {
    float: left;
    width: 39%;
    height: 250px;
    margin: 2%
}

#viewLadder {
    float: left;
    width: 39%;
    height: 250px;
    margin: 2%;
}

/*All about volleyball rules*/

#volleyballRules{
    float: left;
    width: 82%;
    margin: 2%;
}

#playingGuidelines{
    float: left;
    width: 82%;
    margin: 2%;

}

#externalResources {
    float: left;
    width: 82%;
    margin: 2%;
}

/*All about slammers rules*/

#companyStatement{
    float: left;
    width: 82%;
    margin: 2%
}

#compInfo {
    float: left;
    width: 39%;
    margin: 2%;
}
#aboutSlammersImage {
    float: left;
    width: 39%;
    margin: 2%;
}

#functionInfo {
    float: left;
    width: 82%;
    margin: 2%;
}


