/*All rules common to entire site*/
/*body div {*/
    /*border: 1px solid red;*/
/*}*/
html {
    min-height: 100%
}

body {
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(rgba(255, 181, 3, 0.72), rgba(246, 108, 16, 0.72));
    color: #0b438f;
}

body p{
    padding-top: 0;
    margin-top: 0;
}

a:link {
    color: #1a5391;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #500a46;
}

a:hover{
    color: #3e7fd9;
}

#logo {
    float: left;
    position: relative;
    top: -45px;
    right: -30px;
}

header {
    width: 95%;
    height: 115px;
    margin: 2%;
    background: rgba(246, 108, 16, 0.72) url("Images/sanda.png") no-repeat bottom;
    border: solid;
    border-radius: 20px 0 20px 0;
    font-family: 'Kavoon', cursive;
}

header, #footer, #sidebar {

}

header a:visited{

}

h1 {
    font-size: 180%;
    position: relative;
    top: 10px;
    color: #0b47ac;
    text-shadow: #fbfc30 5px 5px 5px;
}

#tagline {
    position: relative;
    bottom: 15px;
    right: 25px;
    font-size: 120%;
    text-shadow: #fbfc30 2px 2px 2px;
}

h3 {
    color: #0b47ac;
    padding-bottom: 3px;
    margin-bottom: 0;
    font-family: 'Kavoon', cursive;
    text-shadow: 3px 3px 2px #fbfc30;
    font-size: 130%;
}

#sidebar{
    background-color: #f07c20;
    border: solid #11546c;
    border-radius: 20px 20px 20px 20px;
    position: fixed;
    top: 157px;
    right: 0;
    width: 13%;
    padding: 1%;
    margin: 1%;
}

#navigation {
    margin-bottom: 10%;
}

#footer {
    clear: both;
    width: 95%;
    height: 115px;
    margin: 2%;
    background-color: rgba(246, 108, 16, 0.72);
    border: solid;
    border-radius: 20px 0 20px 0;
}

#footerNavigation {
    float: left;
    width: 24%;
    height: 115px;
    margin: 2% 2% 0 2%;
    padding-left: 50px;
}

#footerSignUp {
    float: left;
    width: 26%;
    margin: 2% 2% 0 2%;
}

.signUpNow {
    border-radius: 10px 10px 10px 10px;
    background-color: #ffff00;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/
    inset 0 2px 2px rgb(247, 244, 177); /*top internal highlight*/
    padding: 1.5%;
    text-align: center;
    font-family: "Avant Garde", sans-serif;
    font-weight: bold;
}

.signUpNow p{
    margin: 0;
}

#footerContactInfo {
    float: left;
    width: 26%;
    margin-left: 2%;
    padding: 1%;
}

.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Avant Garde", sans-serif;
    text-shadow: #ffff00 1px 1px 1px;
}

.oneColumnContent {
    clear: both;
    width: 80%;
    margin: 3%;
}

/*All homepage rules*/

#signUpImg, #viewLadderImg {
    float: left;
    width: 38.5%;
    margin: 2% 2.5% 2% 2%;
}

.bodyImgs {
    border: 3px solid #11546c;
}

dt {
    display: inline-block;
    font-family: "Avant Garde", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgba(5, 8, 186, 0.88);
    padding: 10px 0 0 2px;

}

dd {
    font-family: Georgia, Garamond, serif;
    padding-bottom: 4px;
}

dl {
    background-color: rgba(247, 132, 32, 0.77);
    border: 3px solid #11546c;
    height: 180px;
    padding: 0 1% 0 1%;
    margin: 0;
    overflow: auto;
    box-shadow: 10px 10px 5px rgba(152, 76, 24, 0.88);

}

/*All about slammers rules*/

#happyHourImg {
    float: left;
    width: 24.6%;
    margin: 3% 1.5% 3% 3%;
}


#compInfo {
    float: left;
    width: 52.4%;
    margin: 3% 3% 3% 1.5%;
}

.formLabels{
    display: block;
}

.formButtons{
    margin: 3px;
    padding: 3px;
}

td{
    width: 315px;
    padding: 5px 1px 1px;
    font-weight: normal;
}

.decoratedTable {
    background-color: rgba(247, 132, 32, 0.88);
    box-shadow: 10px 10px 5px rgba(152, 76, 24, 0.88);
    padding: 1%;
    border: 3px solid #11546c;
    margin-bottom: 2%;

}

#headerRow td{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(11, 67, 143, 0.88);
}

.tableHeading {
    text-align: right;
    font-weight: bold;
    border-right: 3px solid rgba(11, 67, 143, 0.88);
    padding-right: 4px;
}

#contactUs {
    width: 49%;
}

#enquiryArea textarea{
    width: 100%;
    height: 200px;
}

#footerContactInfo table td{
    padding: 0 4px 0 4px;
    margin: 0;
    font-size: 14px;
}



